<nav id="navbar">
  <div>
    <img id='nav-logo' src="images/logo.png" alt="logo">
    <% if current_user %>
    <span class='welcome'> Welcome <%= current_user.username %> </span>
    <form class='sign-out' action="/sessions/destroy" method="post">
      <input type="submit" value="Sign out">
    </form>
    <% end %>
  </div>
  <div id="n-list">
    <ul class="nav-list">
      <a class="nav-link" href="/"><li>Homepage</li></a>
      <a class="nav-link" href="/listings"><li>Listings</li></a>
      <a class="nav-link" href="/bookings"><li>Bookings</li></a>
      <a class="nav-link" href="/mystays"><li>My Stays</li></a>

    </ul>
  </div>
</nav>
